<p-table [value]="cardList"
         (sortFunction)="customCardSort($event)"
         [customSort]="true"
         styleClass="p-datatable-striped"
         [tableStyle]="{ 'width': '100%' }"
         [(selection)]="selectedCards"
         compareSelectionBy="deepEquals"
         dataKey="id"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox [disabled]="!selectAllEnabled"></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="rarity">Rarity <p-sortIcon field="rarity"></p-sortIcon></th>
      <th pSortableColumn="mana_cost">Mana Cost <p-sortIcon field="mana_cost"></p-sortIcon></th>
      <th pSortableColumn="cmc">CMC <p-sortIcon field="cmc"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
</p-table>

<app-card-grid [cardList]="cardList"
               [selectedCards]="selectedCards"
               [ngClass]="{'layout--disabled': selectedLayout != 'grid'}"
               (selectedCardsChange)="handleSelectionChange($event)"
></app-card-grid>

@defer (on immediate) {
  <app-card-table [cardList]="cardList"
                  [selectedCards]="selectedCards"
                  [ngClass]="{'layout--disabled': selectedLayout != 'table'}"
                  (selectedCardsChange)="handleSelectionChange($event)"
  ></app-card-table>
}
