<p-table [value]="cardList"
         (sortFunction)="customCardSort($event)"
         [customSort]="true"
         styleClass="p-datatable-striped"
         [tableStyle]="{ 'width': '100%' }"
         [(selection)]="selectedCards"
         compareSelectionBy="deepEquals"
         dataKey="id"
         (selectionChange)="onSelectionChange($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox [disabled]="!selectAllEnabled"
                               (selectionchange)="onSelectionChange($event)"
        ></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="rarity">Rarity <p-sortIcon field="rarity"></p-sortIcon></th>
      <th pSortableColumn="mana_cost">Mana Cost <p-sortIcon field="mana_cost"></p-sortIcon></th>
      <th pSortableColumn="cmc">CMC <p-sortIcon field="cmc"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
</p-table>

<app-card-grid [ngClass]="{'layout--disabled': selectedLayout != 'grid'}">
  @for (card of cardList; track card.id) {
    @defer (on viewport) {
      <app-card [card]="card"
                style="width: 100%; aspect-ratio: 5/7"
                (cardSelected)="handleCardClick(card)"
                [isSelected]="checkIfCardSelected(card)"
      ></app-card>
    } @placeholder {
      <p-skeleton width="100%"
                  height="20rem"
                  borderRadius="16px"
      ></p-skeleton>
    }
  } @empty {
    <p>Card list empty.</p>
  }
</app-card-grid>

@defer (on immediate) {
  <p-table [value]="cardList"
           styleClass="p-datatable-striped"
           [tableStyle]="{'width': '100%'}"
           [(selection)]="selectedCards"
           [rowHover]="true"
           dataKey="id"
           [ngClass]="{'layout--disabled': selectedLayout != 'table'}"
           (onRowSelect)="emitSelectedCards()"
           (onRowUnselect)="emitSelectedCards()"
  >
    <ng-template pTemplate="body" let-card>
      <tr>
        <td>
          <p-tableCheckbox [value]="card"></p-tableCheckbox>
        </td>
        <td>{{ card.name }}</td>
        <td>{{ card.rarity }}</td>
        <td><app-mana-cost [manaCost]="card.manaCost"></app-mana-cost></td>
        <td>{{ card.cmc }}
        <td>
          <p-button icon="pi pi-info"
                    severity="info"
                    [rounded]="true"
                    (onClick)="redirectToScryfall(card.scryfallURI)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
