:host {
  --theme-toggle-duration: 300ms;
  --theme-toggle-width: 3rem;
  --theme-toggle-height: calc(var(--theme-toggle-width) / 2);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.slider {
  position: relative;
  width: var(--theme-toggle-width);
  height: var(--theme-toggle-height);
  appearance: none;
  border-radius: 100rem;
  cursor: pointer;
  background: var(--surface-a);

  &::before {
    position: absolute;
    display: block;

    --_before-width: calc(var(--theme-toggle-width) / 4);
    --_before-inset: calc((var(--theme-toggle-height) - var(--_before-width)) / 2);

    content: "";
    top: var(--_before-inset);
    left: var(--_before-inset);
    width: var(--_before-width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-color);

    transition-property: background-color, transform;
    transition-duration: var(--theme-toggle-duration);
    transition-timing-function:
      cubic-bezier(.45,1.3,1,.63),
      cubic-bezier(0.6,0.2,0.4,1.7);
  }

  &:checked::before {
    transform: translateX(calc(var(--theme-toggle-width) / 2));
  }
}

.theme-reset {
  border: 0;
  background-color: transparent;

  &:hover {
    color: var(--primary-color);;
  }
}

.theme-reset--inactive {
  visibility: hidden;
}

.icon {
  fill: var(--text-color-secondary);
}

.icon--active {
  fill: var(--primary-color);
}
