<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="end">
    <p-button label="Refresh" icon="pi pi-refresh" (onClick)="refreshCubes()"></p-button>
  </ng-template>
</p-toolbar>

@for (cube of cubesList$ | async; track cube.id) {
  <app-cube-card [cube]="cube"
                 (cubeClicked)="selectCube(cube)"
  ></app-cube-card>
}
@if ((cubesRequestState$ | async) == RequestState.InProgress) {
  <app-loading-spinner></app-loading-spinner>
}

<p-confirmDialog [style]="{width: '40rem'}"
                 [breakpoints]="dialogBreakpoints"
></p-confirmDialog>
