:host {
  position: relative;
}

.collection-container {
  container-name: collection;
  container-type: inline-size;

  display: grid;
  border-radius: 3.37% / 4.72%;
  overflow: hidden;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.thumbnail {
  grid-area: 1 / -1 / 1 / -1;
  place-self: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1.37 / 1;

  & > img {
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, black 14%, transparent 100%);
    opacity: 0.5;
  }
}

.label {
  grid-area: 1 / -1 / 1 / -1;
  place-self: end center;
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 6cqw, 4rem);
  color: white;
  max-width: 80%;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.delete-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  background: hsl(0 0% 0% / 0.4);
}
