@if (vm$ | async; as vm) {
  @if (vm.donation) {
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="center">
        <p-selectButton [options]="layoutOptions"
                        [(ngModel)]="selectedLayout"
                        optionLabel="icon"
                        optionValue="layout"
        >
          <ng-template let-option pTemplate>
            <i [class]="option.icon"></i>
          </ng-template>
        </p-selectButton>
      </ng-template>

      <ng-template pTemplate="end">
        <p-button label="Delete"
                  icon="pi pi-trash"
                  (onClick)="confirmDelete(vm.donation)"
                  [disabled]="!selectedCards.length"
        ></p-button>
      </ng-template>
    </p-toolbar>

    <app-card-list class="p-border"
                   [cardList]="vm.donationCards"
                   [(selectedCards)]="selectedCards"
                   [selectedLayout]="selectedLayout"
    ></app-card-list>
    <p-confirmDialog [breakpoints]="dialogBreakpoints"
                     [style]="{ width: '40rem' }"
    ></p-confirmDialog>
  }
} @else {
  <app-loading-spinner></app-loading-spinner>
}

@if ((donationsRequestState$ | async) == RequestState.InProgress) {
  <app-loading-spinner></app-loading-spinner>
}
