@if (vm$ | async; as vm) {
  @if (vm.cube) {
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="start">
        <p-button label="Add to"
                  icon="pi pi-plus"
                  (onClick)="showDialog()"
                  [disabled]="!selectedCards.length"
        ></p-button>
      </ng-template>

      <ng-template pTemplate="center">
        <p-selectButton [options]="layoutOptions"
                        [(ngModel)]="selectedLayout"
                        optionLabel="icon"
                        optionValue="layout"
        >
          <ng-template let-option pTemplate>
            <i [class]="option.icon"></i>
          </ng-template>
        </p-selectButton>
      </ng-template>
    </p-toolbar>

    <app-card-list class="p-border"
                   [cardList]="vm.cubeCards"
                   [(selectedCards)]="selectedCards"
                   [selectedLayout]="selectedLayout"
    ></app-card-list>
    <p-confirmDialog [breakpoints]="dialogBreakpoints"
                     [style]="{ width: '40rem' }"
    ></p-confirmDialog>

    <app-add-dialog [(dialogVisible)]="dialogVisible"
                    [cardSelection]="selectedCards"></app-add-dialog>
  }
} @else {
  <app-loading-spinner></app-loading-spinner>
}

@if (
  (cubesRequestState$ | async) == RequestState.InProgress ||
  (cardsRequestState$ | async) == RequestState.InProgress
  ) {
  <app-loading-spinner></app-loading-spinner>
}
