:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-block: 1.5rem;
}

.browser-search {
  align-self: center;
  margin-block: 1.5rem;
  width: 100%;
  max-width: 300px;
}
