<input #input
       pInputText
       class="browser-search"
       type="search"
       placeholder="Card name"
       (keyup)="onInputChange(input.value)"
/>

@if (browsedCards$ | async; as cards) {
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="start">
      <p-button label="Add to" icon="pi pi-plus" (onClick)="showDialog()" [disabled]="!selectedCards.length"></p-button>
    </ng-template>

    <ng-template pTemplate="center">
      <p-selectButton [options]="layoutOptions" [(ngModel)]="selectedLayout" optionLabel="icon" optionValue="layout">
        <ng-template let-option pTemplate>
          <i [class]="option.icon"></i>
        </ng-template>
      </p-selectButton>
    </ng-template>

    <ng-template pTemplate="end">
      <p-selectButton [options]="cardPoolOptions" [(ngModel)]="selectedCardPool" optionLabel="label" optionValue="cardPool">
        <ng-template let-option pTemplate>
          {{ option.label }}
        </ng-template>
      </p-selectButton>
    </ng-template>
  </p-toolbar>

  <app-card-list class="p-border"
                 [cardList]="selectedCardPool == 'results' ? cards : selectedCards"
                 [(selectedCards)]="selectedCards"
                 [selectedLayout]="selectedLayout"
                 [selectAllEnabled]="selectedCardPool!='results'"
  ></app-card-list>

  <app-add-dialog [(dialogVisible)]="dialogVisible" [cardSelection]="selectedCards"></app-add-dialog>
}
@if ((requestState$ | async) == RequestState.InProgress) {
  <app-loading-spinner></app-loading-spinner>
}
